/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@400;500;600&display=swap');

/* Variable CSS */
:root{
	--bg-color : #2ec1ac;
	--bg_hover-color: #279e8c;
	--title-font: 'Merienda', cursive;
	--main-font: 'Poppins', sans-serif;
}

/* CSS General */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: var(--main-font);
} 
.h-font{
	font-family: var(--title-font);
}
.custom-bg{
	background-color: var(--bg-color);
	border: 1px solid var(--bg-color),
}
.custom-bg:hover{
	background-color:  var(--bg_hover-color);
	border: 1px solod var(--bg_hover-color);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* CSS Navbar */
.navbar .container-fluid .navbar-brand{
	font-family: var(--title-font);
	color: black;
}
.navbar-nav .nav-item a{
	font-size: 16px;
}
.navbar-nav .nav-item a, .navbar-toggler-icon{
	color: black;
}


/* CSS Reservation */
.availability-form{
	margin-top: -50px;
	z-index: 2;
	position: relative;
}

/* CSS Rooms */
h2{
	font-family: var(--title-font);
}
.h-line{
	width: 150px;
	margin: 0 auto;
	height: 1.7px;
}
.pop:hover{
	border-top-color: var(--bg-color) !important;
	transform: scale(1.03);
	transition: all 0.3s ;
}
.box{
	border-top-color: var(--bg-color) !important;
}
div.login-form{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}
.custom-alert{
	position: fixed;
	top: 80px; right: 25px;
}
#dashboard-menu{
	position: fixed;
	height: 100%;
	z-index: 11;
}

/* Responsive CSS */
@media screen and (max-width: 991px){
	#dashboard-menu{
		height: auto;
		width: 100%;
	}
	#main-content{
		margin-top: 60px;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(36, 36, 36);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


@media screen and (max-width: 575px){
	/* CSS Reservation */
	.availability-form{
		margin-top: 25px;
		padding: 0 35px;
	}
}